.navbar {
  border: dotted blue 2px;
  height: 100px;
  width: 100%;
  background-color: rgb(0, 205, 205);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lowerNavbar {
  border: solid red 1px;
  background-color: rgb(0, 205, 205);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowerNavbar h2 {
  margin: 5px;
}

.starCard {
  background-color: rgb(80, 80, 80);
  border: solid black 1px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 50%;
  /* text-align: center; */
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
